.header {
  height: 50px;
  width: 100%;
  background-color: blue;
}
.content {
  width: 100%;
  background-color: blueviolet;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
}